<h1>Front-end test</h1>
<h2>Lista de Planetas</h2>
<hr/>
<% planets.map(planet => { %>
<p>Nome: <%=planet.name%> </p>
<p>Clima: <%=planet.climate%> </p>
<p>Terreno: <%=planet.terrain%> </p>
<p>Aparições em filmes: <%=planet.aparicoes%> </p>
<hr/>
<% }) %>
